body{
    background: goldenrod;
}

div {
    display: block;
}

.col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.row{

    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    box-sizing: border-box;
}

.container-fluid{
    background: rgba(255, 0, 0, 0.486);
    align-items: flex;
}

.btn{
    padding: 10px 50px 10px 50px; 
    margin-bottom: 50px;
    color: red
}