  
body{
    background-image: url('https://img.freepik.com/free-photo/beige-wooden-textured-flooring-background_53876-128545.jpg');
    background-size: cover;
    font-family: 'Roboto condensed', monospace;
    font-weight: 800px;
}

.container-fluid{
    background: rgba(255, 0, 0, 0.61);
    color: white;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

h1{
    text-align: center;
}

h2{
    font-family: 'Damion', cursive;
    margin: 50px;
    text-align: center;
}

div {
    display: block;
}

.marquee{
    color: #ffc107;
}

.col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.row{

    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    box-sizing: border-box;
}

.btn{
    color: red;
    font: small-caps;
    text-transform: uppercase;

}

.receipt{
    font-family: 'Roboto Mono', monospace;
}

.footer{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    font: small-caps;
    border-top: 1px solid;
    border-color: black;
    text-transform: uppercase;
    
}
.contacts{
    background: #ffc107;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* peek- a - boo Styles */
#orderSummary,
#deliveryAlert, #deliveryOption, #deliveryAddress, #addBtn

{
    display: none;
}